:root {
    --deletedColorOpacity: 0.15;
}

img.convertedImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
[id^="deleted-"] > :first-child {
    background: rgba(255, 0, 0, var(--deletedColorOpacity));
}

.messageHoverInfo {
    color: var(--text-default);
    position: absolute;
    opacity: 0;
    user-select: text;
    cursor: text;
    z-index: 9999;
}

.messageHoverInfo:hover{
    opacity: 1;
}